{% extends 'main.html' %}

{% block Name %}
    Створення нового поста
{% endblock %}

{% block login_logout %}
    {% if login == True %}
        <a class="btn btn-danger" href="/logout">Вихід</a>
    {% else %}
        <a class="btn btn-info" href="/login">Вхід</a>
        <a class="btn btn-warning" href="/register">Реєстрація</a>
    {% endif %}
{% endblock %}

{% block fullContent %}
    <div class="container mt-5">
        <h1>Створення поста</h1>
        <form method="post">
            <input type="text" name="post_title" id="post_title" class="form-control" placeholder="Назва поста"><br>
            <textarea name="post_about" id="post_about" class="form-control" placeholder="Тема"></textarea><br>
            <textarea name="post_text" id="post_text" class="form-control" placeholder="Пост"></textarea><br>
            <input type="text" name="post_author" id="post_author" class="form-control" placeholder="Ім'я автора"><br>
            <input type="submit" class="btn btn-success" value="Створити">
        </form>
    </div>
{% endblock %}