{% extends 'main.html' %}

{% block Name %}
Головна
{% endblock %}

{% block login_logout %}
    {% if login == True %}
        <a class="btn btn-danger" href="/logout">Вихід</a>
    {% else %}
        <a class="btn btn-info" href="/login">Вхід</a>
        <a class="btn btn-warning" href="/register">Реєстрація</a>
    {% endif %}
{% endblock %}

{% block fullContent %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Тестове завдання</h1>
              <p class="lead text-muted">Виконував: Демчук Анатолій</p>
            </div>
        </section>
    </main>
{% endblock %}