{% extends 'main.html' %}

{% block Name %}
    {{ post.post_title }}
{% endblock %}

{% block login_logout %}
    {% if login == True %}
        <a class="btn btn-danger" href="/logout">Вихід</a>
    {% else %}
        <a class="btn btn-info" href="/login">Вхід</a>
        <a class="btn btn-warning" href="/register">Реєстрація</a>
    {% endif %}
{% endblock %}

{% block fullContent %}
        <div class="alert alert-info">
            <h1 class="alert-heading">{{ post.post_title }}</h1>
            <p>{{ post.post_about }}</p>
            <hr>
            <p>{{ post.post_text }}</p><br>
            <p>Автор - <strong>{{ post.post_author }}</strong></p><br>
            <hr>
            <p class="mb-0">Дата публікації - {{ post.created_date.date() }}, Редагування - {{ post.post_last_edit_time.time() }}</p>
        </div>
{% endblock %}