{% extends 'main.html' %}

{% block Name %}
    {{ post.post_title }}
{% endblock %}

{% block fullContent %}
        <div class="alert alert-info">
            <h1 class="alert-heading">{{ post.post_title }}</h1>
            <p>{{ post.post_about }}</p>
            <hr>
            <p>{{ post.post_text }}</p><br>
            <p>Автор - <strong>{{ post.post_author }}</strong></p><br>
            <hr>
            <p class="mb-0">Дата публікації - {{ post.created_date.date() }}, Редагування - {{ post.post_last_edit_time.time() }}</p>
        </div>
            <a href="/allPosts/post/{{ post.id }}/delete" class="btn btn-danger">Видалити</a>
            <a href="/allPosts/post/{{ post.id }}/edit" class="btn btn-secondary">Редагувати</a>
{% endblock %}